
/*	mobile only	*/
@media only screen and (max-width:600px) {
	#contact_form {
		width:100%;
		margin-top:4%;
	}
}
/*	desktop only	*/
@media only screen and (min-width:601px) {
	#contact_form {
		width:50%;
		left:50%;
		margin-top:2%;
		position:relative;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		transform:translateX(-50%);
	}
}

#contact_form {
	padding:20px;
	background:rgba(223,128,162,0.3);
	border:1px solid white;
	border-radius:10px;
}

#phone {
	width:180px;
	margin:0 6px;
	padding:0;
	display:table;

}
#phone textarea {
	margin:0;
	display:table-cell;
}

#phone textarea:nth-child(2) {
	margin:0px 32px;
}

h3 {
	font-size:1.25em;
}

textarea {
	width:auto;
	margin:0;
	padding:4px;
	color:#eee;
	background:rgba(255, 255, 255, 0);
	border:none;
	border-bottom:2px solid #ccc;
	font-family:'Inconsolata', monospace;
	resize:none;
	overflow:hidden;
}

#button {
	margin-top:18px;
	padding:10px 50px;
	color:rgba(255, 255, 255, 0.8);
	background:rgba(255, 255, 255, 0.2);
	font-size:1em;
	border:1px solid white;
	border-radius:4px;
}

#button:hover {
	color:rgba(255, 255, 255, 0.8);
	background:rgba(0, 0, 0, 0.2);
	border:1px solid white;
}

#button, #button:hover {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	-ms-transition:0.3s;
	transition:0.3s;
}
