@-ms-viewport{
  width: device-width;
}

* {
  	/* padding and borders 
	part of 100% width */
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html {
	text-rendering:optimizeLegibility;
}

body {
	width:100vw;
	height:100vh;
}

#title_page {
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgb(201,75,75);
	background:-moz-linear-gradient(45deg, 
	rgba(227,105,52,0.75) 0%,
	rgba(201,75,75,1) 30%,
	rgba(75,19,79,1) 100%);
	background:-webkit-linear-gradient(45deg, 
	rgba(227,105,52,0.75) 0%,
	rgba(201,75,75,1) 30%,
	rgba(75,19,79,1) 100%);
	background:linear-gradient(45deg, 
	rgba(227,105,52,0.75) 0%,
	rgba(201,75,75,1) 30%,
	rgba(75,19,79,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e38924', endColorstr='#4b134f',GradientType=1 );
copy
}

h1 {
	position:absolute;
  	top:35%;
  	left:35%;
  	transform:translate(-50%, -40%);
	padding:10%;
	color:rgba(255,255,255,0.8);
	/*background:rgba(255,255,255, 0.2);
	border:3px solid white;*/
	font:3em 'Calligraffitti', cursive;
	text-align:center;
	font-style:italic;
}

h1 span {
	padding-left:3%;
	font:1em 'PT+Mono', monospace;
}

svg {
	width:100%;
	height:200px;
	position:absolute;
	top:20%;
}

#description {
	width:80%;
	position:absolute;
	top:65%;
  	left:50%;
  	transform:translate(-50%, -40%);
}

#description p {
	font:1em 'Inconsolata', monospace;
	font-weight:bold;
	line-height:1.5em;
	text-align:center;
	color:rgba(0,0,0,0.6);
}

#link_container {
	width:100%;
	position:absolute;
	top:90%;
}

#link_container nav {
	width:100%;
	list-style:none;
	font:1em 'Inconsolata', monospace;
	text-align:center;
}

#link_container a {
	display:inline;
	margin:2%;
	padding:10px;
	text-decoration:none;
	color:rgba(255,255,255,0.8);
	background:rgba(255,255,255,0.2);
	border:1px solid white;
	border-radius:10px;
}

#drop_btn {
	margin:3%;
	padding:0 18px;
	position:absolute;
	right:0;
	font-size:3.75em;
	font-weight:600;
	text-align:center;
	color:rgba(225,225,225,0.8);
	background:rgba(171,84,117,0.4);
	border:1px solid rgb(171,84,117);
	border-radius:50%;
}

#drop_nav {
	width:45%;
	position:absolute;
	right:30%;
	list-style:none;
	font:1em 'Inconsolata', monospace;
	text-align:center;
}

#drop_nav a {
	margin:5% 10%;
	padding:4%;
	display:block;
	text-decoration:none;
	color:rgba(255,255,255,0.8);
	background:rgba(255,255,255,0.2);
	border:1px solid white;
	border-radius:20px;
}

main {
	color:rgb(210,210,210);
	background:rgb(45,45,45);
}

section {
	width:100%;
	padding:4% 4%;
	font:1em 'Inconsolata', monospace;
	border-bottom:1px solid gray;
}

td {
	width:50%;
	padding:2%;
}

h2 {
	text-align:center;
	padding:4%;
	font:2em 'PT+Mono', monospace;
}

h2:after {
	display:block;
	height:2px;
	background-color:rgba(255,255,255,0.7);
	content:" ";
	width:200px;
	margin:0 auto;
	margin-top:20px;
}

#contact_form {
	width:100%;
	margin-top:4%;
	padding:4%;
	border:1px solid white;
	border-radius:10px;
	background:rgba(223,128,162,0.1);
}

h3 {
	font:1.25em 'Inconsolata', monospace;
}

.dates {
	margin-bottom:15px;
}

.blog_entry {
	margin:10px;
}

textarea {
	width:100%;
}

footer {
	padding:8%;
	border-bottom:0px;
	font:1.5em 'Inconsolata', monospace;
	text-align:center;
	background:rgb(227,105,52);
	background:-moz-linear-gradient(45deg, 
	rgba(150,52,15,0.75) 0%,
	rgba(65,1,69,0.75) 100%);
	background:-webkit-linear-gradient(45deg, 
	rgba(150,52,15,0.75) 0%,
	rgba(65,1,69,0.75) 100%);
	background:linear-gradient(45deg, 
	rgba(150,52,15,0.75) 0%,
	rgba(65,1,69,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e38924', endColorstr='#4b134f',GradientType=1 );
copy
}