/*	  _, ___ , _ _,  __,    _,  _,  _,
	 (_   |  \ | |   |_    / ` (_  (_
	 ,_)  |   \| |_, |_, , \_, ,_) ,_)
	 ////////  )  ////////////////////
	          ~'
*/


/*	Main Attributes	*/
@-ms-viewport{
  width:device-width;
}

* {
  	/* padding and borders
	part of 100% width */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html {
	width:100vw;
	height:100%;
	text-rendering:optimizeLegibility;
}

body {
	background-color:black;
	font-family:'Inconsolata', monospace;
}

/*	Mobile Only	*/
@media only screen and (max-width:600px) {
	#triadTable {
		width:90vw;
		height:80px;
	}

	.triad {
 		padding:5%;
 	}

 	#button {
		width:200px;
		height:200px;
		font-size:1.5em;
		-webkit-transform:translate(-50%, 85%);
		-moz-transform:translate(-50%, 85%);
		-o-transform:translate(-50%, 85%);
		-ms-transform:translate(-50%, 85%);
		transform:translate(-50%, 85%);
	}
}	/*	end mobile	*/

/*	Desktop Only	*/
@media only screen and (min-width:768px) {
	#triadTable {
		width:100vw;
		height:80px;
		padding:2%;
	}

	.triad {
		width:50%;
		max-width:50%;
		padding:4%;
		position:absolute;
 	}

 	#button {
		width:250px;
		height:250px;
		font-size:1.5em;
		-webkit-transform:translate(-50%, 70%);
		-moz-transform:translate(-50%, 70%);
		-o-transform:translate(-50%, 70%);
		-ms-transform:translate(-50%, 70%);
		transform:translate(-50%, 70%);
	}
}	/*	end desktop	*/

#triadTable {
	top:4%;
	left:50%;
	border:1px solid black;
	border-spacing:10px;
	position:absolute;
	-webkit-transform:translate(-50%, 10%);
	transform:translate(-50%, 10%);
}

.triad {
	max-width:100%;
	color:white;
	top:50%;
	left:50%;
	-webkit-transform:translateX(-50%);
 	transform:translate(-50%, -50%);
 	text-shadow:2px 2px 2px black;
 	text-align:center;
 	text-transform:uppercase;
	border:1px solid white;
	border-radius:5px;
	position:relative;
}

#button {
	left:50%;
	color:white;
	position:absolute;
	text-align:center;
	text-shadow:3px 3px 3px black;
	border:5px solid rgba(255,255,255,0.6);
	border-radius:50%;
	overflow:hidden;
}

#btnTxt {
	width:100%;
	height:auto;
	top:50%;
	left:50%;
	padding:4px 0;
	background:rgba(0, 0, 0, 0.5);
	position:relative;
	text-transform:uppercase;
	font-weight:bold;
	border-radius:8px;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
 	transform:translate(-50%, -50%);
}


#inputDiv {
	top:16%;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	position:absolute;
	border-bottom:2px solid lightgray;
}

textarea {
	width:90px;
	color:white;
	background-color:rgba(255,255,255,0.0);
	text-transform:uppercase;
	float:right;
	resize:none;
	outline:none;
	border:0;
}

textarea, #inputDiv {
	height:24px;
	font-size:23px;
	text-align:center;
	line-height:0.75em;
}

#palettes		/*	table	*/ {
	width:80%;
	height:25%;
	bottom:5%;
	left:50%;
	-webkit-transform:translateX(-50%);
 	transform:translateX(-50%);
	position:absolute;
	border-spacing:10px;
}
